---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";
import DenverSkyline from "../../images/denver-skyline.webp";

import { scenes } from "../../data/scenes";

const sceneList = Object.entries(scenes)
  .map(([key, scene]) => ({ ...scene, slug: key }))
  .sort((a, b) => a.name.localeCompare(b.name));
---

<MainLayout title="Local Scenes">
  <div class="container mx-auto px-4">
    <div class="max-w-screen-sm mx-auto">
      <h1 class="text-5xl lg:text-6xl text-center">Local Scenes</h1>
      <p>
        Killer Queen is played at physical arcade cabinets, so we gather in
        person to play together. Our local scenes are the lifeblood of the KQ
        community, and we love meeting new players. Time to talk to strangers!
      </p>
      <p>
        Don't see a scene near you? Check the <a
          href="https://www.killerqueenarcade.com/locations"
          target="blank">official map of KQ cabinets</a
        > and find one in your area, then grab some other newbees and a handful of
        quarters.
      </p>
    </div>

    <div class="grid grid-cols-3 gap-4 py-4">
      {
        sceneList.map((scene) => (
          <a
            href={`/scenes/${scene.slug}`}
            class="no-underline text-white hover:text-white">
            <div class="relative rounded-lg p-4 bg-black hover:cursor-pointer group transition-all">
              <Image
                src={scene.splash.image}
                alt={scene.splash.alt}
                class="absolute inset-0 w-full h-full object-cover opacity-80 rounded-lg"
              />
              <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-20 transition-opacity rounded-lg" />
              <div class="relative">
                <div class="flex justify-center items-center h-40">
                  <h1 class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
                    {scene.name}
                  </h1>
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
