---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="container mx-auto px-4">
    <div class="max-w-screen-sm mx-auto">
      <h1 class="text-5xl lg:text-6xl text-center">Local Scenes</h1>
      <p>
        Killer Queen is played at physical arcade cabinets, so we gather in
        person to play together. Our local scenes are the lifeblood of the KQ
        community, and we love meeting new players. Time to talk to strangers!
      </p>
      <p>
        Don't see a scene near you? Check the <a
          href="https://www.killerqueenarcade.com/locations"
          target="blank">official map of KQ cabinets</a
        > and find one in your area, then grab some other newbees and a handful of
        quarters.
      </p>
    </div>
  </div>
</MainLayout>
