@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Passion+One&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
}
