@import url("./fonts");
@tailwind components;

* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pb-2;
  }

  a {
    @apply underline transition-all text-sky-600 hover:text-sky-300 dark:text-sky-300 dark:hover:text-sky-600;
  }

  h1 {
    @apply text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-2xl lg:text-3xl;
  }
  h5 {
    @apply text-xl lg:text-2xl;
  }
  h6 {
    @apply text-lg lg:text-xl;
  }
}
