---
const linkClass =
  "text-slate-700 hover:text-slate-400 dark:text-slate-400 dark:hover:text-white transition-all no-underline";
---

<footer>
  <div
    class="container mx-auto py-8 lg:pt-0 px-4 flex justify-between items-center h-16">
    <div class="flex items-center space-x-8 mx-auto">
      <a href="#" class={linkClass}>About Us</a>
      <a href="mailto:hi@kqmunity.com" class={linkClass}>Contact Us</a>
      <a
        href="https://www.killerqueenarcade.com/"
        target="_blank"
        class={linkClass}>KQ Official Site</a
      >
    </div>
  </div>
</footer>
