---
const textClass =
  "text-slate-700 hover:text-slate-400 dark:text-slate-400 dark:hover:text-white transition-all";
---

<footer>
  <div class="container mx-auto px-4 flex justify-between items-center h-16">
    <div class="flex items-center space-x-8 mx-auto">
      <a href="#" class={textClass}>About</a>
      <a href="#" class={textClass}>Contact</a>
      <a href="#" class={textClass}>Privacy Policy</a>
      <a href="#" class={textClass}>Terms of Service</a>
    </div>
  </div>
</footer>
