---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import ArcadeCab from "../images/arcade-cab.jpg";
import CabWithPlayers from "../images/cab-with-players.jpg";
---

<MainLayout>
  <section
    class="flex flex-col lg:flex-row space-y-12 lg:space-y-0 space-x-0 lg:space-x-12 relative px-12 py-16 lg:py-36 items-center">
    <div class="absolute inset-0 w-full h-full">
      <video
        autoplay
        loop
        muted
        class="absolute inset-0 w-full h-full object-cover">
        <source
          src="/assets/videos/kq-news-interview-m02KoWDk1oI-trim.mp4"
          type="video/mp4"
        />
        <!-- Browser does not support the video tag -->
      </video>
      <div class="absolute inset-0 w-full h-full bg-black opacity-50"></div>
    </div>
    <div class="flex-1 relative z-1">
      <h1 class="text-8xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
        Play the world's only 5v5 strategy arcade game.
      </h1>
    </div>
    <div class="flex-1 relative z-1">
      <p
        class="text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] leading-loose">
        Killer Queen pits your team of five players against another team
        standing three feet away from you. Bring berries to your Hive, stab the
        enemy Queen, and ride the snail to victory!
      </p>
      <div class="mt-8 transition-all hover:-translate-y-1">
        <a
          href="/scenes/denver"
          class="bg-purple-600 hover:bg-purple-500 transition-all text-white py-3 px-6 rounded-full drop-shadow-lg">
          Find your local scene &raquo;
        </a>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col lg:flex-row space-y-12 lg:space-y-0 space-x-0 lg:space-x-12 relative px-12 py-16 items-center">
    <div class="absolute inset-0 w-full h-full">
      <Image
        src={ArcadeCab}
        alt="Killer Queen arcade cabinets in an arcade"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <div class="absolute inset-0 w-full h-full bg-black opacity-50"></div>
    </div>
    <div class="flex-1 relative z-1 flex items-center">
      <p
        class="text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] leading-loose">
        With movement inspired by classic platformers, combat inspired by Joust,
        and cooperative team strategy built on the shoulders of modern
        competitive games, Killer Queen has something for every player.
      </p>
    </div>
    <div class="flex-1 relative z-1 flex items-center">
      <h1 class="text-8xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
        Retro graphics, meet modern team tactics.
      </h1>
    </div>
  </section>

  <section
    class="flex flex-col lg:flex-row space-y-12 lg:space-y-0 space-x-0 lg:space-x-12 relative px-12 py-16 items-center">
    <div class="absolute inset-0 w-full h-full">
      <Image
        src={CabWithPlayers}
        alt="Killer Queen arcade cabinets with players"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <div class="absolute inset-0 w-full h-full bg-black opacity-50"></div>
    </div>
    <div class="flex-1 relative z-1 flex items-center">
      <h1 class="text-8xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
        We're building a community together
      </h1>
    </div>
    <div class="flex-1 relative z-1 flex items-center">
      <p
        class="text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] leading-loose">
        Every game is played in person and in real time. Our local scenes are
        growing every day and we welcome new players. Join us for a weekend and
        we'll show you the ropes!
      </p>
    </div>
  </section>

  <section class="container mx-auto text-center py-12">
    <div>
      <h1 class="text-6xl">Ready to play a game?</h1>
      <div class="mt-8 transition-all hover:-translate-y-1">
        <a
          href="/scenes/denver"
          class="bg-purple-600 hover:bg-purple-500 transition-all text-white py-3 px-6 rounded-full drop-shadow-lg">
          Find your local scene &raquo;
        </a>
      </div>
    </div>
  </section>
</MainLayout>
