---
const textClass =
  "text-slate-700 hover:text-slate-400 dark:text-slate-400 dark:hover:text-white transition-all";
---

<nav>
  <div class="container mx-auto px-4 flex justify-between items-center h-16">
    <div class="flex space-x-4">
      <a href="/" class={textClass}>KQ Community</a>
    </div>
    <div class="flex space-x-4">
      <a
        href="https://killerqueen.miraheze.org/wiki/Welcome_to_Killer_Queen!"
        target="_blank"
        class={textClass}>Learn to Play</a
      >
      <a href="/scenes/denver" class={textClass}>Find a Scene</a>
      <a
        href="https://killerqueen.miraheze.org"
        target="_blank"
        class={textClass}>Wiki</a
      >
    </div>
  </div>
</nav>
