---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import "../styles/root.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>KQ Community</title>
  </head>
  <body class="bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-100">
    <Navbar />
    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
