---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Local Scenes">
  <div class="container mx-auto px-4">
    <div class="max-w-screen-sm mx-auto">
      <h1 class="text-center">About Us</h1>
      <p>
        The <a href="/scenes/denver">Denver scene</a> started KQmunity in 2024 as
        a hub to help Killer Queen players meet each other, play matches, and build
        local communities. Our site is
        <a href="https://github.com/mplewis/kqmunity" target="_blank"
          >open-source on GitHub</a
        > and we welcome contributions.
      </p>
      <p>
        Does your local scene want a website hosted here? We're happy to help
        you build one, host it here for free, and give you the tools to add the
        content you need. We're also happy to link to your existing website.
        Email us at <a href="mailto:hi@kqmunity.com">hi@kqmunity.com</a> or contact
        us in the <a href="https://discord.gg/bXyA8sbYk4">KQ Denver Discord</a> and
        we'll hook you up.
      </p>
    </div>
  </div>
</MainLayout>
